.content {
  background-color: white;
  margin: 20px;
}

.dias {
  max-width: 100px;
}

.rs {
  min-width: 200px;
}

.wdt100 {
  width: 100%;
}

.wdt24 {
  height: 48px;
  width: 48px;
}

.linea {
  font-size: 8px;
  height: 10px !important;
}

.lineahe {
  height: 10px !important;
}

.wdtimgcrd {
  height: 100px;
  width: 100px;
}

.lineares {
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.linearesf {
  border-style: solid;
  border-width: 1px;
  border-color: red;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.linearesnc {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  min-width: 300px;
}

.pointer {
  cursor: pointer;
}
